/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/

body, ul, a, h4, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Batas Reset */

/* span,
h1, h2, h3, h4, h5, h6, p,
a, em, img, q, samp, strong, b, u, i, center, ol, ul, li,
form, label, tr, th, td,
article, footer, header,
menu, nav {
    border: 1px solid blue;
} */

/* header, .as-cta-first, .as-mark-type, nav, nav ul, nav ul li.menu-item {
    border: 1px solid blue;
} */

/* Batas Debugging */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center ;
    padding: 15px 20px;
    position: fixed;
    background: black top center;
    left: 0;
    right: 0;
    color: white;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
}

.as-cta-first {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid red;
}

.as-mark-type {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: "Knockout 70 A", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    padding: 2px 0;
}

nav {
    font-size: 11pt;
    width: 100%;
    text-transform: capitalize;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 2px 0;
}

nav ul li.menu-item {
    padding: 1px 0;
}

 .desktop {
    display: none;
} 

/* belom selesai flexbox */

main {
    padding: 78px 0 0;
}

.contact {
    padding: 10px 0 5px;
    background: black bottom center;
    left: 0;
    right: 0;
    color: white;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-align: center;
}

div.contact ul li.contact-item {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 5px 5px 0;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-size: 12px;
}

@media (min-width: 720px) {
    nav {
        width: 55%;
        max-width: 550px
    } 
     .desktop{
        display: inline-block
    }
    .as-mark-type {
        display: inline-block;
        width: unset
    } ; 

}